#b4{background:#5d473a url(../images/common_img/select.png);}
.nav-bj{background:url(../images/common_img/bjtop4.jpg);}
.header-body{background: url(../images/home_img/b4.jpg) center top no-repeat;}






