.deep_color{background-color: #60493c;border-color: #7c6355;}
.light_color{background-color: #60493c;border-color: #60493c;}

/*侧边栏in-side*/
#b1{background:#585568;}
#b2{background:#222f38;}
#b3{background:#00b599;}
#b4{background:#5d473a url(../images/common_img/select.png);}

/*顶部top*/
.header-nava a{background: #765d4e;}
.header-nava a:hover{background: #947969;transition: all .3s ease;}
.header-nav-l .llgame a:hover {background-color: #917c70;color: #fff;border-color: #917c70;}
.header-nav-l li>a{border-color: #84685d;}
.icon-id1 {background-position-x: -76px;}
.header-navrqa, .header-navrqmys, .hidenn{color: #f3cfbd;}
.info_num{border-color:#383346;transition:all .3s ease;}


/*头部 header*/
.nav-bj{background:url(../images/common_img/bjtop4.jpg);background-size: 100% 105px;}
.in-recordaul li:hover{background-color:#947969;}

/*首页home*/
.header-body{background: url(../images/home_img/b4.jpg) center top no-repeat;background-size: 100% 585px;}
.hot_type >a:hover,.games_type .game2-r a:hover{background-color: #60493c;border-color: #60493c;}






/*按钮*/
.tow_a{background-color: #31ceac;}










