.deep_color{background-color: #00a176;border-color: #14b288;}
.light_color{background-color: #31ceac;border-color: #31ceac;}

/*侧边栏in-side*/
#b1{background:#585568;}
#b2{background:#222f38;}
#b3{background:#00b599 url(../images/common_img/select.png);}
#b4{background:#5d473a;}

/*顶部top*/
.header-nava a{background: #00bc8a;}
.header-nava a:hover{background:#20DEAB;transition:all .3s ease;}
.header-nav-l .llgame a:hover {background-color: #03a185;color: #fff;border-color: #03a185;}
.header-nav-l li>a{border-color: #1d9274;}
.icon-id1{background-position-x: -123px;}
.header-navrqa, .header-navrqmys, .hidenn{color:#96fcea;}
.info_num{border-color:#383346;transition:all .3s ease;}
.header-nav-l li {border-color: #5ab19b;}

/*头部 header*/
.nav-bj{background:url(../images/common_img/bjtop3.jpg);background-size: 100% 105px;}
.in-recordaul li:hover{background-color:#08A377;}

/*首页home*/
.header-body{background: url(../images/home_img/b3.jpg) center top no-repeat;background-size: 100% 585px;}
.hot_type >a:hover,.games_type .game2-r a:hover{background-color: #00a176;border-color: #00a176;}





/*按钮*/
.tow_a{background-color: #31ceac;}









