.deep_color{background-color: #60493c;border-color: #7c6355;}
.light_color,.tow_a{background-color: #60493c;border-color: #60493c;}

/*侧边栏in-side*/
#b1{background:#585568;}
#b2{background:#222f38;}
#b3{background:#00b599;}
#b4{background:#5d473a url(../images/common_img/select.png);}

/*顶部top*/
.header-nava a{background: #765d4e;}
.header-nava a:hover{background: #947969;transition: all .3s ease;}
.header-nav-l .llgame a:hover {background-color: #917c70;color: #fff;border-color: #917c70;}
.header-nav-l li>a{border-color: #84685d;}
.icon-id1 {background-position-x: -76px;}
.header-navrqa, .header-navrqmys, .hidenn{color: #f3cfbd;}
.info_num{border-color:#383346;transition:all .3s ease;}


/*头部 header*/
.nav-bj{background:url(../images/common_img/bjtop4.jpg);background-size: 100% 105px;}
.in-recordaul li:hover{background-color:#947969;}

/*首页home*/
.header-body{background: url(../images/home_img/b4.jpg) center top no-repeat;background-size: 100% 585px;}
.hot_type >a:hover,.games_type .game2-r a:hover{background-color: #60493c;border-color: #60493c;}


/*内页皮肤*/
input[type="submit"],input[type="button"] {
    cursor: pointer;
    background: #60493c;
}
.x_day a:hover{background:#60493c;}
.tow_a{background:#60493c;}
.tow_a a.tow_on, .tow_a a:hover{color:#60493c;}
.submit,.x_con12l_p a,.bank_card_cxind2 a,.bank_card_xuen .bank_card_xuen1,.n_bank_card a,.bank_card_xyb,.n_10row_submit,.query_d2 .cxuan,.query_submit,.qssk_input,.qssk_input,.alipay_2 .alipay_submit,.recharge_sla,.xsd_xyb,.x_axl2_submit,.transfer_accounts_submit,.xl_tksx_submit,.personad_tj,.personad_tj,.management_a,.management_2 a,.bank_card_return{background:#60493c;}
.query_d1 a.query_d1on, .query_d1 a:hover,.ydu{background:#60493c;border-color:#60493c;}
.very_d2 a.new_on, .very_d2 a:hover{border-top: 4px solid #60493c;}

.x_table thead th,.adjustment_tit{background:#ede9e6;border-bottom:2px solid #bfaea5;}
.x_table .pay_report th{background:#ede9e6;}
.x_table tbody tr{background-color: #f7f7f7;}
.x_table tbody tr:nth-of-type(odd){background: #fff;}
.x_table tbody tr:hover{background:#ede9e6;}
.x_table tfoot td,.n_10row_mode,.fhtbody tr:nth-child(odd),.x_table2 tbody tr:nth-child(even) td,.x_xfx_ul li:nth-child(even){background:#ede9e6;}
.x_table tbody .x_hrtd:hover{background:#ede9e6;}
.x_underline{background:#bfaea5;}
.x_xfx_ul li:nth-child(even){background: #faf4f0;}
.x_xfx_ul li:hover{background: #ebded5;}
.page a{background:#e3ddd8;border-color:transparent;}
.page a.pageCurrent{background: #8b6b58;color: #fff;}
.page a:hover{background:#60493c;color:#fff}

