.deep_color{background-color: #312D46;border-color: #585568;}
.light_color{background-color: #63586e;border-color: #63586e;}

/*侧边栏in-side*/

/*顶部top*/
.header-nava a{background: #383346;color: #b9b4d6;}
.header-navrqa, .header-navrqmys, .hidenn{color: #b9b4d6;}
.info_num{border-color:#383346;transition:all .3s ease;}

/*内页皮肤*/
input[type="submit"], input[type="button"]{
    cursor: pointer;
    background: #5b516b;
}
.x_day a:hover{background:#4c415e;}
.submit,.x_con12l_p a,.bank_card_cxind2 a,.bank_card_xuen .bank_card_xuen1,.n_bank_card a,.bank_card_xyb,.n_10row_submit,.query_d2 .cxuan,.query_submit,.qssk_input,.qssk_input,.alipay_2 .alipay_submit,.recharge_sla,.xsd_xyb,.x_axl2_submit,.transfer_accounts_submit,.xl_tksx_submit,.personad_tj,.personad_tj,.management_a,.management_2 a,.bank_card_return{background:#5b516b;}
.query_d1 a.query_d1on, .query_d1 a:hover,.ydu{background:#5b516b;border-color:#5b516b;}
.very_d2 a.new_on, .very_d2 a:hover{border-top: 4px solid #5b516b;}

.x_table thead th{background:#e6e3ec;border-bottom:2px solid #c0b8cc;}
.x_table .pay_report th{background:#e6e3ec;}
.x_table tbody tr{background-color: #f7f7f7;}
.x_table tbody tr:nth-of-type(odd){background: #fff;}
.x_table tbody tr:hover{background:#ededee;}
.x_table tfoot td,.n_10row_mode,.fhtbody tr:nth-child(odd),.x_table2 tbody tr:nth-child(even) td,.x_xfx_ul li:nth-child(even){background:#e6e3ec;}
.x_table tbody .x_hrtd:hover{background:#e6e3ec;}
.x_underline{background:#c0b8cc;}
.x_xfx_ul li:nth-child(even){background: #f6f3fe;}
.x_xfx_ul li:hover{background: #dfd9ee;}
.page a{background:#e6e3ec}
.page a.pageCurrent{background: #766e91;color: #fff;}
.page a:hover{background:#5b516b;color:#fff}























