#b2{background:#222f38 url(../images/common_img/select.png);}
.nav-bj{background:url(../images/common_img/bjtop2.jpg);}
.header-body{background: url(../images/home_img/b2.jpg) center top no-repeat;}






























