#b3{background:#00b599 url(../images/common_img/select.png);}
.nav-bj{background:url(../images/common_img/bjtop3.jpg);}
.header-body{background: url(../images/home_img/b3.jpg) center top no-repeat;}






