.deep_color{background-color: #00a176;border-color: #14b288;}
.light_color{background-color: #31ceac;border-color: #31ceac;}

/*侧边栏in-side*/
#b1{background:#585568;}
#b2{background:#222f38;}
#b3{background:#00b599 url(../images/common_img/select.png);}
#b4{background:#5d473a;}

/*顶部top*/
.header-nava a{background: #00bc8a;}
.header-nava a:hover{background:#20DEAB;transition:all .3s ease;}
.header-nav-l .llgame a:hover {background-color: #03a185;color: #fff;border-color: #03a185;}
.header-nav-l li>a{border-color: #1d9274;}
.icon-id1{background-position-x: -123px;}
.header-navrqa, .header-navrqmys, .hidenn{color:#96fcea;}
.info_num{border-color:#383346;transition:all .3s ease;}
.header-nav-l li {border-color: #5ab19b;}

/*头部 header*/
.nav-bj{background:url(../images/common_img/bjtop3.jpg);background-size: 100% 105px;}
.in-recordaul li:hover{background-color:#08A377;}

/*首页home*/
.header-body{background: url(../images/home_img/b3.jpg) center top no-repeat;background-size: 100% 585px;}
.hot_type >a:hover,.games_type .game2-r a:hover{background-color: #00a176;border-color: #00a176;}


/*内页皮肤*/
input[type="submit"],input[type="button"] {
    cursor: pointer;
    background: #45ba9b;
}
.x_day a:hover{background:#45ba9b;border-color:#45ba9b;}
.tow_a{background:#31ceac;}
.tow_a a.tow_on, .tow_a a:hover{color:#31ceac;}
.submit,.x_con12l_p a,.bank_card_cxind2 a,.bank_card_xuen .bank_card_xuen1,.n_bank_card a,.bank_card_xyb,.n_10row_submit,.query_d2 .cxuan,.query_submit,.qssk_input,.qssk_input,.alipay_2 .alipay_submit,.recharge_sla,.xsd_xyb,.x_axl2_submit,.transfer_accounts_submit,.xl_tksx_submit,.personad_tj,.personad_tj,.management_a,.management_2 a,.bank_card_return{background:#45ba9b;}
.query_d1 a.query_d1on, .query_d1 a:hover,.ydu{background:#45ba9b;border-color:#45ba9b;}
.very_d2 a.new_on, .very_d2 a:hover{border-top: 4px solid #45ba9b;}

.x_table thead th,.adjustment_tit{background:#dbeeeb;border-bottom:2px solid #94c4ad;}
.x_table .pay_report th{background:#dbeeeb;}
.x_table tbody tr{background-color: #f7f7f7;}
.x_table tbody tr:nth-of-type(odd){background: #fff;}
.x_table tbody tr:hover{background:#deeced;}
.x_table tfoot td,.n_10row_mode,.fhtbody tr:nth-child(odd),.x_table2 tbody tr:nth-child(even) td,.x_xfx_ul li:nth-child(even){background:#dbeeeb;}
.x_table tbody .x_hrtd:hover{background:#dbeeeb;}
.x_underline{background:#94c4ad;}
.x_xfx_ul li:nth-child(even){background: #f7fffe;}
.x_xfx_ul li:hover{background: #deecf0;}
.page a{background:#c1e3dd;border-color:transparent;}
.page a.pageCurrent{    background: #45ba9b;color: #fff;}
.page a:hover{background:#05a489;color:#fff}



