@charset "utf-8";
body{min-width:1250px;background-color:#fff;color:#333;font-size:14px;font-family:"microsoft yahei",Arial,sans-serif;line-height:1.42857143;}
body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, label, legend, ol, p, select, table, td, textarea, th, div, ul, li, span, section, header, footer, nav, video, audio, figure, figcaption, hgroup, a{
	margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a{outline:0;color:#333;text-decoration:none;}
li,ul{list-style:none;}
img{border:none;vertical-align:middle;}
h1,h2,h3,h4,h5,h6{color:inherit;font-weight:500;line-height:1.1;}
dt{font-weight:700;}
@font-face{font-family:agency fb;}
input,button,a{cursor: pointer;}

.blod{font-weight:700;}
.float-left{float:left;}
.float-right{float:right;}
.icon-email{position:relative;top:-1px;display:inline-block;margin-right:13px;width:19px;height:13px;vertical-align:sub;}
.icon-email1{background-position:-25px -23px;}
.btn-1{display:inline-block;margin-bottom:0;padding:5px 15px;border-radius:4px;color:#fff;font-weight:400;font-size:14px;transition:all .25s ease;}
.btn-c1{background:#514b68;}
.btn-c2{background:#635a9d;}
.btn-c1:hover{background:#7E6FDE;transition:all .25s ease;}
.btn-c2:hover{background:#7E6FDE;transition:all .25s ease;}
<<<<<<< HEAD
.icon{display:inline-block;vertical-align:middle;}

.deep_color {background-color: #312D46;border-color: #585568;}
.icon{display:inline-block;vertical-align:middle;}
=======

.icon{display:inline-block;vertical-align:middle;}

.deep_color {background-color: #312D46;border-color: #585568;}
>>>>>>> 1453d7e28298f6b6a031afe40fd2eb6d1876dfdb

/*侧边栏in-side*/
.in-side{position:fixed;top:0;right:0;z-index:2;display:block;width:40px;height:100%;background:#feb50e;text-align:center;overflow: visible !important;/*加important是为了避免用了jq的animate改变高度之后会自动增加overflow:hidden;属性*/}
.in-sideul{position:relative;}
.in-sideul li a.on{border-top:1px solid #e5a511;}
.in-sideul li a{display:block;padding:10px 0;width:40px;height:60px;border-bottom:1px solid #e5a511;transition:all .25s ease;}
.side-a{color:#222f38;font-size:12px;}
.icon-side{display:block;margin:0 auto;width:27px;height:25px;transition:all .25s ease;}
.icon-side1{background-position: 2px 2px;}
.icon-side2{background-position: -28px 2px;}
.icon-side3{background-position: -54px 3px;}
.icon-side4{background-position: -81px 2px;}
.icon-side5{background-position: -108px 2px;}
.icon-side6{background-position: -132px -1px;}
.icon-side7{background-position: -155px 0px;}
.icon-side8{background-position: -182px 0px;}
.icon-side9{background-position: -212px 0px;}
.side-a:hover .icon-side1{background-position:2px -26px;}
.side-a:hover .icon-side2{background-position:-28px -26px;}
.side-a:hover .icon-side3{background-position:-54px -26px;}
.side-a:hover .icon-side4{background-position:-81px -26px;}
.side-a:hover .icon-side5{background-position:-108px -26px;}
.side-a:hover .icon-side6{background-position:-132px -28px;}
.side-a:hover .icon-side7{background-position:-155px -28px;}
.side-a:hover .icon-side8{background-position:-182px -26px;}
.side-a:hover .icon-side9{background-position:-212px -28px;}
.in-sideulr{position:relative;}
.in-sideul li a:hover{background:#e18f00;transition:all .25s ease;color:#fff;}
.in-sideul li a:hover .icon-side{color:#fff;transition:all .25s ease;}
.skin{position:absolute;top:-20px;right:35px;z-index:1;display:none;padding-right:5px;width:108px;height:101px;}
.skin-button button{float:left;margin:3px;padding:15px;width:26px;height:26px;outline:0;border:none;cursor:pointer;}
#b2{background:#222f38;}
#b3{background:#00b599;}
#b4{background:#5d473a;}
.skin-button{margin:15px;}
.in-sideulr:hover .skin{display:block;}
.server{position: relative;}
.server >.server_out{display: none; position: absolute;left: -171px;top: -150px;width: 171px;height: 368px;background-color: #fff;border-radius: 5px;}
.server_out >div{padding:20px 0 9px 26px;position: relative;}
.server_out >div >p{text-align: left; font-size: 14px;color: #3a3a3a;font-weight: bold; line-height: 14px;margin-bottom: 10px;}
.server_out >div >span{color: #757575;font-size: 12px;line-height: 30px;display: block;text-align: left;}
.server_out >div >i{position: absolute;right: -4px;top: 170px;display: block;width: 14px;height: 14px;background-color: #fff;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	/* IE 9 */
	-moz-transform:rotate(45deg); 	/* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg); 	/* Opera */
}
.server_out >div >span.wcnum{margin-left: -6px;}
.server_out div >a{display: block;width: auto;height: auto;padding:0;text-align: left;border:0;}
.server .server_out div >a:hover{background: #fff;}
.server_out >.online_sev{border-top: 1px solid #ddd;}
.server_out >.online_sev >a{border-bottom: 0;overflow: hidden; display: block;width: 124px;height: 82px;position: relative;}
.online_sev >a >div{position: relative;width: 100%;height: 100%;
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
}
.online_sev >a >div >img{position: absolute;top: 10px;left: 36px;
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
}
.online_sev >a >div >span{font-size: 12px;color: #fff;display: block;width: 64px;height: 18px;
	background-color: #fe9b0e;border-radius: 20px;text-align: center;line-height: 18px;
	position: absolute;top: 58px;left: 34px;
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
}
.server .online_sev >a:hover >div{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
	-ms-transform:scale(1.1);
}
.online_sev >a:hover >div >img,.online_sev >a:hover >div >span{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
	-ms-transform:scale(1.1);
}
.server:hover >.server_out{display: block;}
.in-side-toogle{width: 40px;height: 40px;background-size: 66%;}
.in-side .in-side-toogle{width: 40px;height: 40px;background-size: 66%;}
.voice{position:absolute;top:40%;left:42.8%;z-index:1050;z-index:5;overflow:hidden;width:295px;border-radius:8px;line-height:45px;}
.voice-set li{position:relative;padding-right:15px;padding-left:25px;height:45px;background:#fff;}
.voice-set p{margin:0;font-weight:700;font-size:14px;}
.voice-icon{position:relative;top:2px;display:inline-block;margin-right:3px;width:18px;height:14px;}
.voice-set li:nth-last-child(even){background:#f5f5f5;}
.voice-set li .con{position:absolute;top:10px;right:0;line-height:0;}
.voice-close{position:absolute;top:18px;right:15px;display:inline-block;width:11px;height:11px;background-position:-24px -1px;cursor:pointer;}
.voice-tip{border-top:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;}
.theme-popover-f{position:fixed;top:0;z-index:5;display:none;width:100%;height:100%;}
.theme-popover-mask{position:fixed;top:0;left:0;z-index:5;display:none;width:100%;height:100%;background:#000;opacity:.4;filter:alpha(opacity=40);}
.theme-popover-mask {position: fixed;top: 0;left: 0;z-index: 5;display: none;width: 100%;height: 100%;background: #000;opacity: .4;filter: alpha(opacity=40);}
.chk_3{position:absolute;left:12px;display:block;}
.chk_3+label{position:relative;display:inline-block;margin-right:15px;padding:9px;width:47px;height:24px;border-radius:50px;background-color:#fafbfa;cursor:pointer;-webkit-transition:all .1s ease;transition:all .1s ease;}
.chk_3+label:after{position:absolute;top:0;left:0;width:100%;height:100%;border-radius:100px;box-shadow:inset 0 0 0 0 #eee,0 0 1px rgba(0,0,0,.4);content:' ';-webkit-transition:box-shadow .1s ease-in;transition:box-shadow .1s ease-in;}
.chk_3+label:before{position:absolute;top:1px;left:1px;z-index:999999;width:22px;height:22px;border-radius:100px;box-shadow:0 3px 1px rgba(0,0,0,.05),0 0 1px rgba(0,0,0,.3);content:' ';-webkit-transition:all .1s ease-in;transition:all .1s ease-in;}
.chk_3:active+label:after{box-shadow:inset 0 0 0 20px #eee,0 0 1px #eee;}
.chk_3:active+label:before{width:37px;}
.chk_3:checked:active+label:before{left:20px;width:37px;}
.chk_3+label:active{box-shadow:0 1px 2px rgba(0,0,0,.05),inset 0 1px 3px rgba(0,0,0,.1);}
.chk_3:checked+label:before{position:absolute;left:26px;border-radius:100px;background:#fff;content:' ';}
.chk_3:checked+label:after{position:absolute;background:#00c9aa;box-shadow:0 0 1px #4cda60;content:' ';font-size:1.5em;}
/*侧边栏in-side 结束*/



/*顶部top*/
.header-nav{height:45px;}
.icon-id{display:inline-block;width:18px;height:17px;vertical-align:sub;}
.icon-id1{background-position-x:-27px;}
.container{position:relative;margin:0 auto;width:1250px;}
.header-navrq{float:right;margin-top:12px;color:#f3cfbd;font-size:12px;}
.header-nava a{position:relative;top:0;left:0;margin-left:5px;padding:5px 10px;border-radius:8px;font-size:14px;transition:all .3s ease;color: #fff;}
.header-nava a:hover{background:#947969;transition:all .3s ease;}
.header-nava .novicet{margin-left:5px;padding:5px 10px;border-radius:8px;background:#a17b4e;color:#fff;font-size:14px;cursor:pointer;transition:all .3s ease;}
.header-nav1{float:right;}
.hidenn,.header-navrqa{color:#fff;}
.header-navrqa:hover{color:#fff;}
.header-navrqa:hover .icon-id1{background-position-x:-2px;}
.header-navrqm{margin-left:20px;}
.header-navrmm{margin-right:5px;margin-left:10px;}
.header-navrqmys{color:#f3cfbd;margin-right:3px;}
.info_num{transition:all .3s ease;position:absolute;top:-5px;left:20px;display:inline-block;width:18px;height:18px;line-height: 18px; border-radius:10px;background-color:#dc1a00;color:#fff;text-align:center;font-weight:500;font-size:12px;}
.icon-refresh{margin-left: 3px;width:16px;height:16px;display: inline-block;position:relative;vertical-align: sub;top:0;left:0;transition:all 0.25s ease;}
.header-nava a:hover{color: #fff; background:#635B79;transition:all .3s ease;}
.header-nav-l .llgame a:hover{background-color: #7f6e85;color: #fff;}
/*顶部左边的四个项目*/
.header-nav-l{float: left;height: 100%;}
.header-nav-l ul{height: 100%;}
.header-nav-l li{float: left;;width: 100px;height: 100%;border-left: 1px solid #344049;}
.header-nav-l li>a{display: block;width: 100px;height: 44px;line-height: 44px;padding-left: 20px;font-size: 12px;color: #fff; border-left: 1px solid #27333c;position: relative;}
.header-nav-l a>i{position: absolute;top: 18px; width: 6px;height: 6px;margin-left: 8px; display: inline-block;border-bottom: 1px solid rgba(255,255,255,0.5);border-right: 1px solid rgba(255,255,255,0.5);transform: rotate(45deg);}

.header-nav-l .llgame{display: none;z-index: 100;left: 0;top: 49px; width: 990px;position: absolute;}
.llgame-placeholderDiv{position: absolute;text-align: left;left: 44px;top: -6px;width: 100%;height: 10px;}
.gameli{width: 100%;height: 96px;border-bottom: 1PX solid #e7f2f4;}
.game-l{width: 153PX;line-height: 95px; display: inline-block;padding-left: 23px;color: #898989;vertical-align: middle; }
.game-l i{display: inline-block;vertical-align: middle; width: 51px;height: 40px;}
.game-l .icon1{background-position: 0 0;}
.game-l .icon2{background-position: 0 -56px;}
.game-l .icon3{background-position: 0 -111px;}
.game-l .icon4{background-position: 0 -162px;}
.game-l .icon5{background-position: 0 -224px;}
.game-l .icon6{background-position: 0 -279px;height: 30px;}
.gameli.gray{background-color: #f9feff;}
.game-r{width: 785PX;display: inline-block;vertical-align: middle;}
.header-nav-l .games .game-r >a{width: 86PX; height: 22px;line-height: 20px;background-color: #fff;color: #707070;font-size: 12px;margin-right: 22px; text-align: center;
 border:1px solid #d2d2d2; display: inline-block;margin-bottom: 4px;margin-top: 4px;}
.games:hover .llgame,.games2:hover .llgame,.games3:hover .llgame,.games4:hover .llgame{display: block;background-color: #f3fbfd;}
.games2 .llgame,.games3 .llgame,.games4 .llgame{display: none;height: 187px;}
.games2 .llgame{width: 343px;left: 100px;}
.games2 .llgame-placeholderDiv{left: 47px;}
.game2-l{width: 130px;display: inline-block;text-align: right;position: absolute;top: 55px;left: 0;}
.game2-l img{vertical-align:baseline;}
.game2-r{width: 169px;display: inline-block;margin-top: 56px;position: absolute;left: 174px;}
.game2-r a{display: inline-block;}
.game2-r span{line-height: 32px;margin-bottom: 4px;}
.games3 .llgame{width: auto;left: 200px;}
.games4 .llgame{width: auto;left: 0px;}
.games4 .llgame-placeholderDiv{left: 342px;}
.games4 .game2-l{width: 114px;}
.games4 .game2-r{width: 160px;}
.games4 .game_in{position: relative;}
.game_in{width: 343px;height: 187px;position: relative; background: #f3fbfd;display: inline-block;}
.game3-in{position: relative;}
.game31-in{border-left: 1px solid #dddddd;position: relative;margin-left: -4px;}
.game41-in{border-left: 1px solid #dddddd;}
.game42-in{border-left: 1px solid #dddddd;}
.game_in >.bgimg{position: absolute;right: 0;bottom: 0;width: 30%;}
.header-nav-l .llgame p{color: #4f4f4f;font-size: 18px;}
.header-nav-l .llgame span{color: #5c5c5c;font-size: 12px;}
.header-nav-l .llgame a{font-size: 12px;width: 64px;height: 22px;margin-right: 5px; line-height: 20px;text-align: center;color: #5c5c5c;border: 1px solid #c3c3c3;border-radius: 12px;}
.header-nav-l .games2 .llgame  a,.header-nav-l .games3 .llgame  a{float: left;}
.games .llgame a{border-radius: 0;}
.game_in >span.new{width: 40px;height: 40px; display: block; position: absolute;right: -1px;top: 0;}
.header-nav-l .llgame a:hover{background-color: #7f6e85;color: #fff;}
/*顶部top 结束*/

/*头部 header*/
.nav-bj{background-size: 100% 105px;}
.icon-lists{position:relative;top:7px;left:-5px;display:inline-block;width:26px;height:30px;}
.icon-awru{position:absolute;top:0;right:50%;display:block;margin:0 auto;width:10px;height:10px;opacity:1;}
.icon-awru:before{content: "";  
	transform:rotate(45deg);
    display: block;  
    position: absolute;  
    top: 5px;  
    /*left: -14%;  */
    width: 10px;  
    height: 10px;  
    background: #fff;
    /*border-style: solid;  */
    /*border-width: 4px;  */
    border-color: #DDD;}
.icon-lists1{background-position:140px 30px;}
.icon-lists2{background-position:112px 30px;}
.icon-lists3{background-position:82px 30px;}
.icon-lists4{background-position:56px 30px;}

.in-nav{padding-top:30px;height:105px;}
.in-navr{float:right;}
.in-record{float:left;margin-left:65px;}
.in-record a{padding:10px 0;color:#fff;}
.in-record .color2{color:#fff100;}
.in-recorda{position:relative;margin-left:28px;display: inline-block;}
.in-recordaul{position:absolute;top:52px;right:0;z-index:2;visibility:hidden;background:#fff;}
.in-recordaul li{margin-top: -10px; display:block;width:90px;height:45px;background:#fff;color:#717171;text-align:center;font-size:14px;line-height:35px;}
.in-recordaul li:last-child{height:35px;}
.in-recordaul li:hover{background:#473C5C;color:#fff;transition:all .2s ease;}
.in-recordaul li:hover a{color:#fff;}
.in-recordaul a{color:#717171;}
.in-recordaul .in-recordali1{height:10px;background:0 0;overflow: hidden;}
.in-recorda:hover .in-recordaul{visibility:visible;}
.in-recorda:hover .in-recordaul li{transform:none;}
.in-recorda:hover .in-recordali3{transition:all .1s ease;}
.in-recorda:hover .in-recordali4{transition:all .2s ease;}
.in-recorda:hover .in-recordali5{transition:all .3s ease;}
.in-recorda:hover .in-recordali6{transition:all .4s ease;}
.in-recorda:hover .in-recordali7{transition:all .5s ease;}
.in-recorda:hover .in-recordali1{background:0 0;}
.in-recordali1{position:relative;top:-10px;left:0;transform:translatey(10px);}
.in-recordali2{transform:translatey(20px);}
.in-recordali3{transform:translatey(30px);}
.in-recordali4{transform:translatey(40px);}
.in-recordali5{transform:translatey(50px);}
.in-recordali6{transform:translatey(50px);}
.in-recordali7{transform:translatey(60px);}
/*头部 header 结束*/

/*底部footer*/
.footer{height:130px;background:#212637;width: 100%;float: left;}
.footer .llgameup{position:absolute;top:-6px;text-align:center;width:100%;}
.footer .footera{position:relative;top:0;float:left;padding-top:30px;width:467px;}
.footer .footerb{position:relative;top:0;float:left;padding-top:30px;width:590px;text-align:right;}
.footer .footerc{position:relative;top:0;float:left;margin-left:10px;padding-top:30px;}
.footer .weixin{display: none;position: absolute;right: 18px;bottom: 73px;display: none;padding: 10px;background-color: #F4F4F4;box-shadow: 0 2px 5px rgba(0,0,0,.3);text-align: center;}
.footer .weixin p{color: #999;font-size: 12px;}
.footer .footerc:hover .weixin{display: block;}
.footer .footer-p,.footer-p a{margin-bottom:10px;color:#fff;font-size:12px;}
.footer .rule{margin-bottom:10px;color:#cbe0ef;font-size:12px;}
.footer .rule span{margin-bottom:10px;margin-left:5px;color:#f4fff2;}
.footer .in-side{position:fixed;top:0;right:0;z-index:32;display:block;width:40px;height:100%;background:#41332c;text-align:center;}
.footer .in-sideul{position:relative;top:10px;}
.footer .in-sideul li a.on{border-top:1px solid #352822;}
.footer .in-sideul li a{display:block;padding:10px 0;width:40px;height:60px;border-bottom:1px solid #352822;transition:all .25s ease;}
/*底部footer 结束*/


/*首页home*/
.icon-hzn{position:relative;top:2px;left:5px;display:inline-block;width:12px;height:14px;}
.icon-wallet{position:relative;top:5px;display:inline-block;margin-right:5px;width:22px;height:20px;}
.icon-wallet2{background-position-x:-23px;}
.header-body{transition:all 0.5s ease;height:585px;background-size: 100% 585px;}
.main-box{margin-bottom:10px;height:380px;}
.main-boxl{float:left;width:315px;height:100%;background:#f1f1f1;}
.main-boxl1{padding:15px 25px;height:128px;}
.main-boxlt{float:left;}
.main-boxlt img{margin-right:25px;width:96px;height:96px;border-radius:100%;}
.main-boxln{float:left;}
.main-boxid{margin-bottom:5px;font-size:16px;}
.main-boxhi{margin-bottom:2px;color:#8d8d8d;font-size:12px;}
.main-boxhi2{color:#474f61;}
.main-boxl3{float:left;padding:10px 25px;width:315px;height:103px;background:#fff;}
.main-capital{margin-bottom:10px;font-weight:700;}
.main-capital a{position:relative;top:8px;float:right;color:#da4453;font-weight:500;font-size:12px;}
.main-number{height:38px;border-radius:5px;color:#fff;text-align:right;}
.main-number span{padding-left:7px;letter-spacing:7px;padding-right:1px;font-size:26px;font-family:agency fb;}
.main-boxl4{float:left;padding:20px 25px 19px;width:315px;height:148px;}
.addtot{height:75px;border-radius:8px;background:#fff;box-shadow:5px 5px rgba(222,222,222,1);}
.addtot .tkyhkas{display:block;width:100%;height:100%;background-size:265px 75px;}
.addtot ul{display:none;padding:8px 15px;}
.addtotnb,.addtotyh{float:left;}
.addtot img{display:block;margin-right:15px;width:57px;height:58px;}
.addtotnb-card{margin-right:32px;}
.addtotnb-cardt{margin-bottom:8px;padding-top:8px;font-weight:500;}
.addtotnb-cardb{color:#424242;font-size:16px;}
.addtotnb-cardb{float:left;}
.main-boxr{float:left;width:935px;height:100%;}
.banner img{width:935px;height:380px;}
.banner{position:relative;overflow:hidden;margin-bottom:10px;width:100%;height:380px;}
.banner .img{position:absolute;top:0;left:0;width:9999999px;}
.banner .img li{float:left;}
.banner .num{position:absolute;bottom:10px;left:0;width:100%;text-align:center;font-size:0;}
.banner .num li{display:inline-block;margin:0 3px;width:10px;height:10px;border-radius:50%;background:#efefef;cursor:pointer;}
.banner .num .on{background:#fff;}
.banner .btn-2{position:absolute;top:50%;margin-top:-50px;width:50px;height:80px;background:rgba(0,0,0,.5);color:#fff;text-align:center;font-size:50px;font-family:"宋体";line-height:80px;opacity:.5;cursor:pointer;}
.btn2{position:absolute;top:50%;margin-top:-50px;color:#3C7C52;text-align:center;font-size:50px;font-family:arial;cursor:pointer;}
.banner:hover .btn-2{opacity:1;}
.banner .btn_l{left:0;}
.banner .btn_r{right:0;}
.min-noticeul .min-noticeli1,.min-noticeul .min-noticeli2{position:relative;float:left;display:block;margin-bottom:10px;width:305px;height:185px;background:#fff;}
.min-noticeli2{margin-left:10px;}
.home-notice-tit{padding:15px 15px 10px 25px;border-bottom:1px solid #e2e4e6;color:#4c3f7e;font-weight:700;font-size:14px;}
.home-notice-tit span{padding-bottom:8px;border-bottom:2px solid #4c3f7e;}
.home-notice-tit a{float:right;color:#6c6c6c;font-weight:500;font-size:12px;}
.min-noticenis{overflow:hidden;padding-top:20px;height:140px;}
.min-noticenis li{margin-bottom:10px;padding:0 15px 0 25px;font-size:12px;}
.min-noticenis li{color:#3d3d3d;}
.min-noticenis li span{float:right;color:#848484;}
.min-noticenis li a:hover{color:#4c3f7e;font-weight:700;}
.home_ad{position:relative;overflow:hidden;box-sizing:border-box;width:100%;height:100%;background:#000;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;}
.home_ad .home_ad_img{position:relative;display:block;overflow:hidden;margin:0;padding:0;width:100%;height:100%;opacity:1;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;}
.home_ad:hover .home_ad_img{position:absolute;opacity:.6;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);-ms-transform:scale(1.1);}
.home_ad .home_ad_caption{overflow:hidden;margin:0;padding:0;color:#fff;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out;-moz-backface-visibility:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden;-ms-transition:all .4s ease-in-out;}
.home_ad .home_ad_caption::after,.home_ad .home_ad_caption::before{position:absolute;content:'';opacity:0;-webkit-transition:opacity .4s,-webkit-transform .4s;-moz-transition:opacity .4s,-moz-transform .4s;-o-transition:opacity .4s,-o-transform .4s;transition:opacity .4s,transform .4s;}
.home_ad .home_ad_caption::before{top:40%;right:25%;bottom:40%;left:25%;border-top:3px solid #feb50e;border-bottom:3px solid #feb50e;-webkit-transform:scale(0,1);-moz-transform:scale(0,1);-o-transform:scale(0,1);transform:scale(0,1);-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-o-transform-origin:0 0;transform-origin:0 0;}
.home_ad .home_ad_caption::after{top:40%;right:25%;bottom:40%;left:25%;border-right:3px solid #feb50e;border-left:3px solid #feb50e;-webkit-transform:scale(1,0);-moz-transform:scale(1,0);-o-transform:scale(1,0);transform:scale(1,0);-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-o-transform-origin:100% 0;transform-origin:100% 0;}
.home_ad:hover .home_ad_caption::after,.home_ad:hover .home_ad_caption::before{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
.home_ad .home_ad_caption,.home_ad .home_ad_caption>a{position:absolute;top:0;left:0;overflow:hidden;width:100%;height:100%;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;}
.home_ad .home_ad_caption_h{position:absolute;top:20%;left:10%;overflow:hidden;width:80%;text-align:center;font-weight:700;font-size:1.3em;opacity:1;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;}
.home_ad .home_ad_hover{position:absolute;top:60%;left:10%;overflow:hidden;width:80%;color:#feb50e;text-align:center;font-size:1em;opacity:0;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;}
.home_ad:hover .home_ad_hover{top:45%;opacity:1;}
.part-body{height:645px;}
.part-bodyl{float:left;margin-right:10px;width:305px;}
.part-body-notice{margin-bottom:10px;height:200px;background:#fff;}
.part-body-notice .up-turn{width: 275px;height: 120px;overflow: hidden;margin-left: 25px;margin-top: 25px;position: relative;}
.up-turn ul{height: 100000000%;position: absolute;top: 0;left: 0;}
.up-turn ul li{margin-bottom:12px;color:#6c6c6c;font-size:12px;}
.part-body-lottery{position:relative;top:0;left:0;width:305px;height:415px;background-size:100%;text-align:center;}
.home-lottery{position:absolute;bottom:55px;left:0;width:100%;}
.home-lottery h5{margin:10px 0;font-size:14px;color:#fff;}
.home-lottery h5 span{margin:0 5px;color:#fed90e;line-height:2.5;}
.part-body-time{height:75px;padding-top: 15px; font-size:38px;font-weight: bold;color:#fff;}
.part-d1vsn{width:50px;position:relative;top:3px;margin-right:-17px;letter-spacing:17px;line-height:0;color:#fff;}
.part-body-num{display:inline-block;width:78px;height:57px;}
.home-lottery .bet{display:inline-block;margin-top:45px;width:128px;height:45px;border:2px solid #00a561;border-radius:8px;background:#fff;color:#00a561;font-weight:700;font-size:16px;line-height:42px;transition:all .25s ease;}
.home-lottery .bet:hover{background:#00a561;color:#fff;transition:all .3s ease;}
.part-bodyr{float:left;width:935px;background:#fff;overflow: hidden;}
.hot{height: 210px;padding-left: 28px;background-color: #f3fbfd;}
.hot >h5{font-size: 16px;color: #575757;height: 52px;line-height: 52px;}
.hot >h5 >i{width: 14px;height: 18px;}
.hot_type >a{display: inline-block;width: 96px;height: 32px;line-height: 30px;border:1px solid #dcdcdc; text-align: center;background-color: #fff;color: #000;margin-top: 10px;margin-right: 12px;font-size: 12px;}
.hot_type >a:hover{background-color: #7f6e85;color: #fff;}
.games_type{height: 416px;width: 105%;}
.games_type li{position: relative;overflow:hidden; width: 312px; height: 208px;padding-top: 14px; float: left;border-right: 1px solid #e7eff1;border-bottom: 1px solid #e7eff1;background: #fafcfd;}

.game_in >.bgimg{-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;display: block; width: 127px; height: 73px; position: absolute;right: 0;bottom: 0;background-size: 400px;}
.game_in:hover >.bgimg{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);-ms-transform:scale(1.1);background-size: 400px;}
.game_in >.bgimg2{ width: 90px; height: 97px; background-position: -156px 0;}
.game_in >.bgimg3{ width: 122px; height: 105px; background-position: -279px 0;}
.game_in >.bgimg4{ width: 141px; height: 94px; background-position: 0 -136px;}
.game_in >.bgimg5{ width: 107px; height: 91px; background-position: -156px -136px;}
.game_in >.bgimg6{ width: 101px; height: 95px; background-position: -298px -136px;}

.games_type span.new{top: 170px;}
.games_type li:nth-child(4),.games_type li:nth-child(5),.games_type li:nth-child(6){border-bottom: 0;}
.games_type li .type{position: absolute;top: 0;left: 0;z-index: 10; width: 76px;height: 24px;line-height: 24px;background-color: #8499a7;color: #fff;font-weight: bold;border-radius: 0 12px 12px 0px;padding-left: 10px;}
.games_type .game2-l{width: 116px;margin-right: 30px;display: inline-block;position: absolute;left: 0px; top: 75PX;}
.games_type .game2-l img{width: 70%;height: auto;}
.games_type .typeli2 .game2-l img,.games_type .typeli3.game2-l img{width: 60%;}
.games_type .typeli5 .game2-l img{width: 56%;}
.games_type .typeli6 .game2-l img{width: 56%;}
.typeli4 .game2-l{top: 70px;}
.typeli5 .game2-l{top: 70px;}
.typeli6 .game2-l{top: 70px;}
.games_type .game2-r{width: 154px; display: inline-block;margin-top: 0; position: absolute;top: 64px;left: 156px;}
.games_type .game2-r p{font-size: 18px;color: #4f4f4f;line-height: 30px;}
.games_type .game2-r span{font-size: 12px;color: #5c5c5c;line-height: 12px;height: 12px;}
.games_type .game2-r a{width: 64px;height: 23px;line-height: 21px;text-align: center; font-size: 12px;color: #5c5c5c;border:1px solid #c3c3c3;border-radius: 20px; margin-top: 17px;}
.games_type .game2-r a:hover {background-color: #7f6e85;color: #fff;}
/*首页home 结束*/

/*分红报表弹窗*/
.x_table{background: #fff;width:1130px;margin:0 auto 15px;border-spacing:0;#baa89e solid 2px !important;position:relative;}
.x_table tr,.x_table .tr{position:relative;}
.x_table tr th:first-child{border-left:none;}
.x_table thead th{height:40px;font-size:14px;font-weight:500;border-left:1px solid #fff;}
.x_table tbody th,.x_table tbody td{height:40px;font-size:12px;font-weight:500;border-bottom:1px solid #EFEFEF;text-align: center;}
.x_table tfoot th,.x_table tfoot td{font-size:12px;font-weight:500;}
.x_table tfoot td{text-align:center;height:40px;background:#e6e3ec;border-right:1px solid #e6e3ec;}
.x_tbody_bd td{height:30px;}

