   @charset "utf-8";
   body {
       min-width: 1250px;
       background-color: #eef2f2;
       color: #333;
       font-size: 14px;
       font-family: "microsoft yahei", Arial, sans-serif;
       line-height: 1.42857143;
   }

   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
   }

   a {
       outline: 0;
       color: #333;
       text-decoration: none;
   }

   li,
   ul {
       list-style: none;
   }

   img {
       border: none;
       vertical-align: middle;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
       color: inherit;
       font-weight: 500;
       line-height: 1.1;
   }

   dt {
       font-weight: 700;
   }

   @font-face {
       font-family: agency fb;
       src: url(../font/AGENCYB.TTF), url(../font/AGENCYB.eot);
   }

   .blod {
       font-weight: 700;
   }

   .float-left {
       float: left;
   }

   .float-right {
       float: right;
   }

   #cds {
       width: 100%;
       position: absolute;
       top: 0;
   }

   i {
       display: inline-block;
   } 
   .main_b0 {
       background: #275673;
       width: 70px;
       float: left;
   }

  /*左边导航栏的开始*/
   .icon {
       vertical-align: middle;
       display: inline-block;
   }

   .icon-set {
       background: url("../images/userCenter_img/icon-set.png");
       width: 29px;
       height: 29px;
       background-size: 100%;
   }

   .icon-b1 {
       width: 36px;
       height: 35px;
       background: url("../images/userCenter_img/icon-b4.png") no-repeat;
   }

   .icon-b2 {
       background-position-x: -46px;
   }

   .icon-b3 {
       background-position-x: -92px;
   }

   .icon-b4 {
       background-position-x: -138px;
   }

   .icon-b5 {
       width: 36px;
       height: 35px;
       background: url(../images/userCenter_img/xx55.png);
   }

   .main_0bd {
       background-position: all;
   }

   .main_0bdv {
       padding: 15px 20px;
       height: 60px;
   }

   .main_0bdvu {
       position: relative;
   }

   .main_0bli {
       padding: 17px 12px;
       border-left: 5px solid #3a3b49;
       position: relative;
       width: 70px;
       height: 70px;
       background: #3a3b49
   }

   .main_0bli:hover {
       background: #2e2f3b;
       border-color: #60493c
   }

   .main_0bul {
       display: none;
       z-index: 55;
       width: 160px;
       height: 350px;
       background: #434555;
       position: absolute;
       top: 0;
       left: 65px;
       color: #fff;
   }

   .main_0bul1 {
       top: -70px;
   }

   .main_0bul2 {
       top: -140px;
   }

   .main_0bul3 {
       top: -210px;
   }

   .main_0bul4 {
       top: -280px;
   }

   .main_0bdvu:hover .main_0bul {
       display: block;
   }

   .main_0bul li:first-child {
       font-size: 16px;
       padding: 20px 15px
   }

   .main_0bul li a {
       color: #8c8e9a;
       height: 30px;
       line-height: 30px;
       position: relative;
       width: 100%;
       display: inline-block;
       padding-left: 15px;
       transition: all 0.5s ease
   }

   .main_0bul li a:hover {
       color: #fff;
       background: #2e2f3b;
       padding-left: 28px;
       transition: all 0.5s ease
   }

   .main_0bul li a span {
       position: absolute;
       left: 0;
       top: 0;
       transition: all 0.2s ease;
       opacity: 0;
       filter: alpha(opacity=00);
   }

   .main_0bul li a:hover span {
       left: 15px;
       transition: left 0.5s, opacity 0.2s;
       opacity: 1;
       opacity: alpha(opacity=100);
   }

   .main_0bul li a:hover .xl_i {
       color: #fff;
       transition: 0.25s;
   }

   /*左边导航栏的结束*/
   /*每个导航链接里面的内容开始*/
   #mian_body {
       background: #eef2f2;
   }

   .main {
       width: 1250px;
       margin: 0 auto;
   }

   .mian_4 {
       padding-top: 20px;
       padding-bottom: 20px;
       min-height: 600px;
   }

   .row:after,
   .row:before {
       display: table;
       content: " ";
       box-sizing: border-box;
       clear: both;
   }

   #mian_body .main_r {
       float: left;
       width: 1170px;
       min-height: 600px;
       background: #fff
   }

   #mian_body .main_r .very_mt {
       background: #fff;
   }

   .very_show {
       position: relative;
       cursor: pointer;
   }

   .very_hide {
       display: none;
       position: absolute;
       cursor: pointer;
       z-index: 1;
   }

   #mian_body .main_r .very_d1 {
       height: 60px;
       line-height: 60px;
       color: #5e5e5e;
       padding: 0 20px;
   }

   #mian_body .main_r .very_mt .very_d1 span {
       margin: 0 10px;
   }

   #mian_body .main_r .very_mt .very_d2 {
       height: 50px;
       padding-left: 20px;
       background: #f7f7f7;
   }

   #mian_body .main_r .very_mt .very_d2 a {
       border-top: 4px solid transparent;
       padding: 13px 30px;
       display: inline-block;
       transition: 0.25s;
   }

   #mian_body .main_r .very_mt .very_d2 a.new_on , #mian_body .main_r .very_mt .very_d2 a:hover
    {
       border-top: 4px solid #275673;
       background: #fff;
   }

   .very_tp {
       line-height: 50px;
       background: #f7f6f3;
       border-bottom: 1px solid #e7e4dd;
       color: #e07413;
       padding-left: 35px;
       font-size: 14px;
   }
   /*下一页开始*/

   #mian_body .main_r .very_mt .very_d3 .page {
       background-color: #fff;
       width: 100%;
       padding: 20px;
       color: #4f473c;
     font-size: 14px;
       text-align: right;
       float: left;
   }

   #mian_body .main_r .very_mt .very_d3 .page a {
       padding: 0px 9px 4px;
       border: 1px solid transparent;
       border-radius: 3px;
       margin-left: 1px;
       color: #4f473c
   }

   #mian_body .main_r .very_mt .very_d3 .page a.pageDefault {
       background: #cfdbe2;
   }

   #mian_body .main_r .very_mt .very_d3 .page a:hover {
      background: #275673;
      color: #fff
   }
  
   #mian_body .main_r .very_mt .very_d3 .page_spana a {
       padding: 0;
       vertical-align: middle;
       display: inline-block;
       margin: 0 2px 0 4px;
       text-align: center;
       height: 25px;
       width: 26px;
       background: #658493;
       color: #fff;
       line-height: 22px;
       border-color: #766e91;
   }
   /*下一页结束*/

  /*每个导航链接里面的内容结束*/