<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <link rel="stylesheet" href="../../../css/style-1740.css">
    <link rel="stylesheet" id="css1" type="text/css" href="../../../css/skin1.css" />
</head>

<body id="mian_body">
    <div class="main row mian_4 quick-pay">
        <div class="main-content main-content-box">

            <!--感叹号图片-->
            <div class="main-content-img-box">
                <img src="../../../images/userCenter_img/exclamation-mark.png" alt="">
            </div>

            <p class="qp-tips-text-1">请在新打开的银行卡支付页面进行充值操作。</p>

            <p class="qp-tips-text-2">如果您的浏览器未弹出新的银行支付页面，请取消浏览器对弹出页面的阻拦，并选择允许（信任）网站的弹窗</p>

            <!--线路按钮-->
            <div class="pay-line">
                <a href="" target="_blank" class="line-1">前往支付线路1</a>

                <a href="" target="_blank" class="line-2">前往支付线路2</a>
            </div>

            <p class="qp-tips-text-3">说明：如果支付线路无法正常跳转情况下，请更换使用其他线路跳转支付</p>

            <div class="return-bt-box">
                <a href="" class="return-bt">返回首页</a>
            </div>


        </div>
    </div>
    
</body>

</html>
<script src="../../../js/jquery.min.js"></script>
<script src="../../../js/layui/layui.all.js"></script>
<script src="../../../js/recharge.js"></script>
<script src="../../../js/public.js"></script>