<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>转账下一步</title>
    <link rel="stylesheet" href="../../../bgimg.css">
    <link rel="stylesheet" type="text/css" href="../../../css/template.css" />
    <link rel="stylesheet" href="../../../css/cash.css">
</head>

<body id="mian_body">
<div class="main row mian_4">
    <!--左边导航栏开始-->
    <div class="main_b0 light_color ">
        <div class="main_0bda">
            <div class="main_0bdv deep_color">
                <i class="icon icon-set"></i>
            </div>
            <ul class="main_0bdvu">
                <li class="main_0bli">
                    <i class="icon icon-b1">
                    </i>
                    <ul class="main_0bul">
                        <li>投注记录</li>
                        <li>
                            <a href="投注记录-彩票-游戏.html"><span class="">></span>彩票</a>
                        </li>
                        <li>
                            <a href="投注记录-电子娱乐-单.html"><span class="">></span>电子娱乐</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="main_0bdvu">
                <li class="main_0bli">
                    <i class="icon icon-b1 icon-b2"></i>
                    <ul class="main_0bul main_0bul1">
                        <li>资金管理</li>
                        <li>
                            <a href="网银转账.html"><span class="">></span>充值</a>
                        </li>
                        <li>
                            <a href="提款.html"><span class="">></span>提款</a>
                        </li>
                        <li>
                            <a href="转账.html"><span class="">></span>转账</a>
                        </li>
                        <li>
                            <a href="我的充值.html"><span class="">></span>充值记录</a>
                        </li>
                        <li>
                            <a href="提现记录.html"><span class="">></span>提现记录</a>
                        </li>
                        <li>
                            <a href="转账记录.html"><span class="">></span>转账记录</a>
                        </li>
                        <li>
                            <a href="账变记录.html"><span class="">></span>账变记录</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="main_0bdvu">
                <li class="main_0bli">
                    <i class="icon icon-b1 icon-b3"></i>
                    <ul class="main_0bul main_0bul2">
                        <li>代理中心</li>
                        <li>
                            <a href="下级开户.html"><span class="">></span>下级开户</a>
                        </li>
                        <li>
                            <a href="团队充提.html"><span class="">></span>团队充提</a>
                        </li>
                        <li>
                            <a href="彩票佣金.html"><span class="">></span>彩票佣金</a></li>
                        <li><a href="分红报表.html"><span class="">></span>分红报表</a>
                        </li>
                        <li>
                            <a href="团队管理.html"><span class="">></span>团队管理</a>
                        </li>
                        <li>
                            <a href="团队盈亏.html"><span class="">></span>团队盈亏</a></li>
                        <li><a href="高点配额.html"><span class="">></span>高点配额</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="main_0bdvu">
                <li class="main_0bli">
                    <i class="icon icon-b1 icon-b4"></i>
                    <ul class="main_0bul main_0bul3">
                        <li>帐号管理</li>
                        <li>
                            <a href="密码管理.html"><span class="">></span>密码管理</a>
                        </li>
                        <li>
                            <a href="安全问题1.html"><span class="">></span>安全问题</a>
                        </li>
                        <li>
                            <a href="银行卡管理.html"><span class="">></span>银行卡管理</a>
                        </li>
                        <li>
                            <a href="我的奖金.html"><span class="">></span>我的奖金</a></li>
                        <li><a href="个人资料.html"><span class="">></span>个人资料</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="main_0bdvu">
                <li class="main_0bli">
                    <i class="icon icon-b1 icon-b5"></i>
                    <ul class="main_0bul main_0bul4">
                        <li>消息中心</li>
                        <li>
                            <a href="平台公告.html"><span class="">></span>平台公告</a>
                        </li>
                        <li>
                            <a href="站内信.html"><span class="">></span>站内信<span></span><i class="xl_i">0</i></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- 左侧导航栏的结束 -->

    <!-- 每个导航链接里面的内容开始 -->
    <div class="main_r">
        <div class="very_mt">
            <!-- 标题开始 -->
            <div class="very_d1">
                <a href="#">资金管理</a>
                <span>></span>
                <a href="#">提现</a>
            </div>
            <!-- 标题结束 -->
            <!-- 导航开始 -->
            <div class="very_d2">
                <a href="withdraw.html">提款</a>
                <a href="withdraw-transfer.html" class="new_on">转账</a>
                <a href="withdraw-limit.html">额度转换</a>
            </div>
            <!-- 导航结束 -->

            <div class="nextStep_d3 very_d3">
                <form action="" id="J-form" method="post">
                    <input type="hidden" name="_token" value="cxcM4kOCV28ERCsHDVtMwwiU2MIHsi8KI9Z1RhFN">
                    <input type="hidden" name="id" value="8018">
                    <input type="hidden" name="amount" value="1">

                    <ul class="xl_tksx xl_tksx_nextStep">
                        <li>
                            <p>用户名：</p>
                            <i class="transfer_accounts_color">848.00</i>
                            <span>元</span>
                        </li>
                        <li>
                            <p>收款账号：</p>
                            <input type="text" name="" id="" value="" class="accounts_text persona_focus" placeholder="输入下级帐号">
                            <span class="accounts_nd">收款人限于您的下级</span>
                        </li>
                        <li>
                            <p>转账金额：</p>
                            <input type="text" name="" id="text_nextStep" value="" class="accounts_text_1 persona_focus">
                            <span>元</span>
                        </li>
                        <li>
                            <p>资金密码：</p>
                            <input type="text" name="" id="" value="" class="accounts_text_1 persona_focus">
                            <span class="key-logo"></span>
                        </li>
                        <li>
                            <p>安全验证：</p>
                            <div class="accounts_n2">
	                			<span class="transfer_accounts_xl">
	      							<span class="query_xl very_show">
	      						    <span>--请选择收款银行卡--</span>
	      							<ul class="very_hide">
	      							  <li>--请选择收款银行卡1--</li>
	      							  <li>--请选择收款银行卡2--</li>
	      							  <li>--请选择收款银行卡3--</li>
	      							</ul>
	      						   </span>
      						   </span>
                                <span class="accounts_nd">请选择要验证的银行卡，以完成身份的核实</span>
                            </div>
                        </li>
                        <li>
                            <p>安全验证：</p>
                            <input type="text" name="" id="" value="" class="accounts_text_2 persona_focus">
                        </li>
                        <li>
                            <input type="submit" name="" id="" value="下一步" class="xl_tksx_submit">
                        </li>

                    </ul>

                </form>
            </div>

        </div>
    </div>
    <!-- 每个导航链接里面的内容结束 -->
</div>
</div>
</body>

</html>
<script src="../../../js/jquery.min.js"></script>
<script src="../../../js/layui/layui.all.js"></script>
<script src="../../../js/jc.base.js"></script>
<script src="../../../js/jc.Keyboard.js"></script>
<script src="../../../js/jc.Tip.js"></script>
<script src="../../../js/withdraw.js"></script>
<script src="../../../js/public.js"></script>
<script>
    //调用放大输入input
    moneyInput('#text_nextStep');
</script>