<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>58元体验码</title>
    <link rel="stylesheet" type="text/css" href="../../bgimg.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/activity.css"/>
</head>
<body id="mian_body">
<div class="activity">
    <div class="activity_d">
        <img src="../../images/activity/7.jpg">
    </div>

    <div class="activity_nav">
        <ul class="activity_ul">
            <li>
                <a href="activity-bet.html">
                    <i class="icon icon-ay"></i>
                    <p>每日投注</p>
                </a>
            </li>
            <li>
                <a href="activity-sign.html">
                    <i class="icon icon-ay icon-ay1"></i>
                    <p>每日签到</p>
                </a>
            </li>
            <li>
                <a href="activity-people.html">
                    <i class="icon icon-ay icon-ay2"></i>
                    <p>新人首充 </p>
                </a>
            </li>
            <li>
                <a href="activity-everyday.html">
                    <i class="icon icon-ay icon-ay3"></i>
                    <p>每日首充</p>
                </a>
            </li>
            <li>
                <a href="activity-brokerage.html">
                    <i class="icon icon-ay icon-ay4"></i>
                    <p>佣金制度</p>
                </a>
            </li>
            <li>
                <a href="activity-return.html">
                    <i class="icon icon-ay icon-ay5"></i>
                    <p>充值即返</p>
                </a>
            </li>
            <li>
                <a href="activity-experience.html" class="on">
                    <i class="icon icon-ay icon-ay6"></i>
                    <p>58元体验码</p>
                </a>
            </li>
        </ul>

    </div>

    <div class="activity_mian activity_mian1">
        <div class="activity_remind">
            <div class="activity_remind_1">
                <div class="activity_remind_tr fl"><i class="icon icon-ayth icon-ty1"></i>我的体验码</div>
                <div class="area-search con6_head1 fr">
                    <form action="" method="GET" class="form-inline">
                        <input type="hidden" name="_token" value="1223s">
                        <label for="">类型</label>
                        <select name="type" class="type">
                            <option value="">全部</option>
                            <option value="{{$id}}" >123</option>
                        </select>
                        <label for="">状态</label>
                        <select name="status">
                            <option value="">全部</option>
                            <option value="5"
                                   >123未用</option>
                            <option value="9">123已用</option>
                        </select>
                        <input type="submit" value="搜索" class="sub1" id="J-submit">
                    </form>
                </div>
                <div class="clear"></div>
                <div class="item item1">
                    <div class="statis">
                        <p>总数</p>
                        <span>123</span>
                    </div>
                    <div class="statis">
                        <p>使用量</p>
                        <span>123</span>
                    </div>
                    <div class="statis">
                        <p>未用量</p>
                        <span>123</span>
                    </div>
                </div>
                <table border="0" cellspacing="" cellpadding="" class="t_head">
                    <thead>
                    <tr>
                        <th class="col_1">类型名称</th>
                        <th class="col_3">代码</th>
                        <th class="col_1">使用者</th>
                        <th class="col_2">使用时间</th>
                        <th class="col_1">状态</th>
                        <th class="col_2">失效时间</th>
                    <tr>
                    </thead>
                </table>
                <div class="t_body">
                    <table border="0" cellspacing="" cellpadding="" class="x_table">
                        <tbody>
                            <tr>
                                <td class="col_1">123</td>
                                <td class="col_3">123</td>
                                <td class="col_1">123</td>
                                <td class="col_2">123</td>
                                <td class="col_1">123</td>
                                <td class="col_2">123</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="activity_remind_1 activity_remind_item">
                <div class="activity_remind_tr"><i class="icon icon-aysu  icon-ty2"></i>体验码兑换</div>

                <div class="exchange">
                    <form action="" method="POST" class="form-inline"
                          id="J-form">
                        <input type="hidden" name="_method" value="POST">
                        <input type="hidden" name="_token" value=""/>
                        <input type="hidden" name="_random" value=""/>
                        <input type="text" id="txtVoucherKey" name="txtVoucherKey"
                               class="query_id_input persona_focus time_input_2 cxt fl"
                               placeholder="输入体验码超值优惠，触手可及">
                        <input type="button" class="query_submit btn fl" id="btnSubmit" value="马上兑换">
                    </form>
                </div>
            </div>
            <div class="activity_remind_1 items">
                <div class="activity_remind_tr activity_remind_tit"><i class="icon icon-aysu  icon-ty3"></i>活动规则
                </div>
                <p>一、58元体验金无任何流水要求，打满100元 直接可提现。</p>
                <p>二、获得体验码的用户当月如果已经领取过体 验金，则无法重复领取。</p>
                <p>三、体验码在当月生成出来，只在当月领取有效，过期不使用则作废。</p>
            </div>
            <div class="activity_remind_1">
                <div class="activity_remind_tr"><i class="icon icon-aysu"></i>活动条款</div>
                <ul class="activity_remind_ul2">
                    <li><span>1、</span><p>玩法投注不得超过该玩法投注号码70%，即定位胆玩法不能超过7注、二码玩法不能超过70注、三码玩法不能超过700注、四星玩法不能超过7000注、五星玩法不能超过70000注、全包玩法不计入有效投注。如发现违规投注情况，均视作放弃本次活动。</p></li>
                    <li><span>2、</span><p>若发现同一用户利用多个账号（相同/相似IP地址，相同银行卡，相同银行账户，相同电脑等）重复领取、对打套利、恶意刷返点套利等任何违规投注和对打情况，正点游戏将拒绝赠送活动奖金、没收优惠及其所有相关盈利，并冻结账号。</p></li>
                    <li><span>3、</span>
                        <p>
                            活动流水都是单独计算的，领取或则报名其他活动，另外一个活动流水就重新为零计算！
                        </p>
                    </li>
                    <li><span>4、</span>
                        <p>本活动最终解释权和裁决权归正点游戏所有，正点游戏保留修改、暂停、终止该优惠活动等所有权利。</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/layui/layui.all.js"></script>
<script>

        $('.query_submit.btn').on('click',function(){
            if($('#txtVoucherKey').val() != '') {
                var VoucherKey = $('#txtVoucherKey').val();
                console.log(123);
                layer.open({
                    title: '信息'
                    ,btn: ['马上兑换', '取消']
                    ,content: '是否兑换【 '+VoucherKey+' 】', success: function(layero, index){
                        var ParBody = document.getElementsByTagName('body')[0];
                        ParBody.appendChild(layero[0]);

                        var _lay = layero[0];
                        var _width = -(_lay.offsetWidth) / 2;
                        var _height = -(_lay.offsetHeight) / 2;

                        _lay.style.marginTop = _height + "px";
                        _lay.style.marginLeft = _width + "px";
                        _lay.style.left = "50%";
                        _lay.style.top = "50%";

                        var shade = document.getElementsByClassName('layui-layer-shade')[0];
                        ParBody.appendChild(shade);
                    }
                })
            }
        });


</script>
<script src="../../js/public.js"></script>
