<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>每日签到</title>
    <link rel="stylesheet" type="text/css" href="../../css/style-1740.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/activity.css"/>
</head>
<body id="mian_body">
<div class="activity">
    <div class="activity_d">
        <img src="../../images/activity/2.jpg"/>
    </div>
    <div class="activity_nav">
        <ul class="activity_ul">
            <li>
                <a href="activity-bet.html">
                    <i class="icon icon-ay"></i>
                    <p>每日投注</p>
                </a>
            </li>
            <li>
                <a href="activity-sign.html"  class="on">
                    <i class="icon icon-ay icon-ay1"></i>
                    <p>每日签到</p>
                </a>
            </li>
            <li>
                <a href="activity-people.html">
                    <i class="icon icon-ay icon-ay2"></i>
                    <p>新人首充 </p>
                </a>
            </li>
            <li>
                <a href="activity-everyday.html">
                    <i class="icon icon-ay icon-ay3"></i>
                    <p>每日首充</p>
                </a>
            </li>
            <li>
                <a href="activity-brokerage.html">
                    <i class="icon icon-ay icon-ay4"></i>
                    <p>佣金制度</p>
                </a>
            </li>
            <li>
                <a href="activity-return.html">
                    <i class="icon icon-ay icon-ay5"></i>
                    <p>充值即返</p>
                </a>
            </li>
            <li>
                <a href="activity-experience.html">
                    <i class="icon icon-ay icon-ay6"></i>
                    <p>58元体验码</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="activity_mian">
        <div class="activity_tp1 activity_row">
            <div class="activity_aysl"><h1><i class="icon icon-aytime"></i>活动时间<span>2016年5月12日至6月12日</span></h1></div>
            <div class="activity_aysr"><p class="activity_mn">今日签到金额<span>0.00 元</span></p></div>
        </div>
        <div class="activity_qd">
            <ul class="activity_qdul activity_row">
                <li class="activity_qdli activity_qdon">
                    <div class="activity_qddy">
                        <div class="activity_qdd"></div>
                        <p>第一天</p>
                    </div>
                    <div class="activity_qddy2">
                        <span></span>
                    </div>
                </li>
                <li class="activity_qdli">
                    <div class="activity_qddy">
                        <div class="activity_qdd"></div>
                        <p>第二天</p>
                    </div>
                    <div class="activity_qddy2">
                        <span></span>
                    </div>
                </li>
                <li class="activity_qdli">
                    <div class="activity_qddy">
                        <div class="activity_qdd"></div>
                        <p>第三天</p>
                    </div>
                    <div class="activity_qddy2">
                        <span></span>
                    </div>
                </li>
                <li class="activity_qdli">
                    <div class="activity_qddy">
                        <div class="activity_qdd"></div>
                        <p>第四天</p>
                    </div>
                    <div class="activity_qddy2">
                        <span></span>
                    </div>
                </li>
                <li class="activity_qdli">
                    <div class="activity_qddy">
                        <div class="activity_qdd"></div>
                        <p>第五天</p>
                    </div>
                    <div class="activity_qddy2">
                        <span></span>
                    </div>
                </li>
                <li class="activity_qdli">
                    <div class="activity_qddy">
                        <div class="activity_qdd"></div>
                        <p>第六天</p>
                    </div>
                    <div class="activity_qddy2">
                        <span></span>
                    </div>
                </li>
                <li class="activity_qdli">
                    <div class="activity_qddy">
                        <div class="activity_qdd activity_dlb"></div>
                        <p>第七天</p>
                    </div>
                </li>
                <li class="activity_qdli total-sign-in-monney before after">
                    <span class="total-money-val">0.00</span><span class="total-money-text">累计签到金额</span>
                </li>
                <li class="activity_qdyi">
                    <a href="#" class="activity_qdyia1">立即签到</a>
                    <a href="#" class="activity_qdyia2">已签到</a>
                </li>
            </ul>
        </div>
        <div class="activity_remind">
            <div class="activity_remind_1">
                <div class="activity_remind_tr"><i class="icon icon-ayth"></i>活动规则</div>
                <ul class="activity_remind_ul">
                    <li>一、最少消费额度：玩家必须在平台消费（消费=彩票投注总额-正常订单-撤单订单）1000元后才能进行签到；</li>
                    <li>二、签到天数：玩家必须连续签到7天方可进行领奖。中奖后，前期签到天数作废，后期未签到继续生效；</li>
                    <li>三、每日只能签到一次（如果玩家消费1000元时进行签到，当日后期消费到10000时也不可改签）</li>
                    <li>四、奖金领取规则：领取奖金=签到消费奖金总额 x 返点率，（如：每日消费5000元 x 连续7天 x 奖率1%=奖金5000元 x 7 x 1%=350）</li>
                    <li>五、最高奖金1888元</li>
                    <li>六、该活动最终解释权归平台所有。</li>
                </ul>
            </div>
            <div class="activity_remind_1">
                <div class="activity_remind_tr"><i class="icon icon-aysu"></i>活动条款</div>
                <ul class="activity_remind_ul2">
                    <li><span>1、</span><p>玩法投注不得超过该玩法投注号码70%，即定位胆玩法不能超过7注、二码玩法不能超过70注、三码玩法不能超过700注、四星玩法不能超过7000注、五星玩法不能超过70000注、全包玩法不计入有效投注。如发现违规投注情况，均视作放弃本次活动。</p></li>
                    <li><span>2、</span><p>若发现同一用户利用多个账号（相同/相似IP地址，相同银行卡，相同银行账户，相同电脑等）重复领取、对打套利、恶意刷返点套利等任何违规投注和对打情况，正点游戏将拒绝赠送活动奖金、没收优惠及其所有相关盈利，并冻结账号。</p></li>
                    <li><span>3、</span><p>本活动最终解释权和裁决权归正点游戏所有，正点游戏保留修改、暂停、终止该优惠活动等所有权利。</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/layui/layui.all.js"></script>
<script src="../../js/activity.js"></script>
<script src="../../js/public.js"></script>
