<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>每日投注</title>
    <link rel="stylesheet" type="text/css" href="../../css/style-1740.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/activity.css"/>
    <!--<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>-->
    <!--<script src="js/js.js" type="text/javascript" charset="utf-8"></script>-->
</head>
<body id="mian_body">

<div class="activity">
    <div class="activity_d">
        <img src="../../images/activity/1.jpg"/>
    </div>
    <div class="activity_nav">
        <ul class="activity_ul">
            <li>
                <a href="activity-bet.html" class="on">
                    <i class="icon icon-ay"></i>
                    <p>每日投注</p>
                </a>
            </li>
            <li>
                <a href="activity-sign.html">
                    <i class="icon icon-ay icon-ay1"></i>
                    <p>每日签到</p>
                </a>
            </li>
            <li>
                <a href="activity-people.html">
                    <i class="icon icon-ay icon-ay2"></i>
                    <p>新人首充 </p>
                </a>
            </li>
            <li>
                <a href="activity-everyday.html">
                    <i class="icon icon-ay icon-ay3"></i>
                    <p>每日首充</p>
                </a>
            </li>
            <li>
                <a href="activity-brokerage.html">
                    <i class="icon icon-ay icon-ay4"></i>
                    <p>佣金制度</p>
                </a>
            </li>
            <li>
                <a href="activity-return.html">
                    <i class="icon icon-ay icon-ay5"></i>
                    <p>充值即返</p>
                </a>
            </li>
            <li>
                <a href="activity-experience.html">
                    <i class="icon icon-ay icon-ay6"></i>
                    <p>58元体验码</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="activity_mian">
        <div class="activity_tp1 activity_row">
            <div class="activity_aysl"><h1><i class="icon icon-aytime"></i>活动时间<span>2016年5月12日至6月12日</span></h1></div>
            <div class="activity_aysr"><p class="activity_mn">今日充值金额<span>0.00 元</span></p></div>
        </div>
        <div class="activity_kq activity_row">
            <ul class="activity_kqul">
                <li class="activity_kqli activity_kqli2">
                    <div class="activity_kqk">
                        <i>¥</i><span class="activity_kqj">3</span><div class="activity_kqjl">奖励</div>
                    </div>
                    <div class="activity_kqk2">
                        <p>投注金额500.00元</p>
                    </div>
                    <a href="#" class="">领取</a>
                </li>
                <li class="activity_kqli">
                    <div class="activity_kqk">
                        <i>¥</i><span class="activity_kqj">5</span><div class="activity_kqjl">奖励</div>
                    </div>
                    <div class="activity_kqk2">
                        <p>投注金额500.00元</p>
                    </div>
                    <a href="#" class="">领取</a>
                </li>
                <li class="activity_kqli">
                    <div class="activity_kqk">
                        <i>¥</i><span class="activity_kqj">10</span><div class="activity_kqjl">奖励</div>
                    </div>
                    <div class="activity_kqk2">
                        <p>投注金额500.00元</p>
                    </div>
                    <a href="#" class="">领取</a>
                </li>
                <li class="activity_kqli">
                    <div class="activity_kqk">
                        <i>¥</i><span class="activity_kqj">15</span><div class="activity_kqjl">奖励</div>
                    </div>
                    <div class="activity_kqk2">
                        <p>投注金额500.00元</p>
                    </div>
                    <a href="#" class="">领取</a>
                </li>
                <li class="activity_kqli activity_kqli2">
                    <div class="activity_kqk">
                        <i>¥</i><span class="activity_kqj">20</span><div class="activity_kqjl">奖励</div>
                    </div>
                    <div class="activity_kqk2">
                        <p>投注金额500.00元</p>
                    </div>
                    <a href="#" class="">领取</a>
                </li>
                <li class="activity_kqli">
                    <div class="activity_kqk">
                        <i>¥</i><span class="activity_kqj">30</span><div class="activity_kqjl">奖励</div>
                    </div>
                    <div class="activity_kqk2">
                        <p>投注金额500.00元</p>
                    </div>
                    <a href="#" class="">领取</a>
                </li>
                <li class="activity_kqli">
                    <div class="activity_kqk">
                        <i>¥</i><span class="activity_kqj">90</span><div class="activity_kqjl">奖励</div>
                    </div>
                    <div class="activity_kqk2">
                        <p>投注金额500.00元</p>
                    </div>
                    <a href="#" class="">领取</a>
                </li>
                <li class="activity_kqli">
                    <div class="activity_kqk">
                        <i>¥</i><span class="activity_kqj">150</span><div class="activity_kqjl">奖励</div>
                    </div>
                    <div class="activity_kqk2">
                        <p>投注金额500.00元</p>
                    </div>
                    <a href="#" class="">领取</a>
                </li>
                <li class="activity_kqli">
                    <div class="activity_kqk">
                        <i>¥</i><span class="activity_kqj">300</span><div class="activity_kqjl">奖励</div>
                    </div>
                    <div class="activity_kqk2">
                        <p>投注金额500.00元</p>
                    </div>
                    <a href="#" class="">领取</a>
                </li>
                <li class="activity_kqli">
                    <div class="activity_kqk">
                        <i>¥</i><span class="activity_kqj">1000</span><div class="activity_kqjl">奖励</div>
                    </div>
                    <div class="activity_kqk2">
                        <p>投注金额500.00元</p>
                    </div>
                    <a href="#" class="">领取</a>
                </li>
                <li class="activity_kqli">
                    <div class="activity_kqk">
                        <i>¥</i><span class="activity_kqj">2000</span><div class="activity_kqjl">奖励</div>
                    </div>
                    <div class="activity_kqk2">
                        <p>投注金额500.00元</p>
                    </div>
                    <a href="#" class="">领取</a>
                </li>
                <li class="activity_kqli">
                    <div class="activity_kqk">
                        <i>¥</i><span class="activity_kqj">3000</span><div class="activity_kqjl">奖励</div>
                    </div>
                    <div class="activity_kqk2">
                        <p>投注金额500.00元</p>
                    </div>
                    <a href="#" class="">领取</a>
                </li>
            </ul>
        </div>
        <div class="activity_remind">
            <div class="activity_remind_1">
                <div class="activity_remind_tr"><i class="icon icon-ayth"></i>活动规则</div>
                <ul class="activity_remind_ul">
                    <li>一、您昨天有效投注金额为<span>【0.00】</span>元，可领取<span>【0.00】</span>元</li>
                    <li>二、昨日签 到次日才能领取相应的奖金，只能领取一次奖金</li>
                </ul>
            </div>
            <div class="activity_remind_1">
                <div class="activity_remind_tr"><i class="icon icon-aysu"></i>活动条款</div>
                <ul class="activity_remind_ul2">
                    <li><span>1、</span><p>玩法投注不得超过该玩法投注号码70%，即定位胆玩法不能超过7注、二码玩法不能超过70注、三码玩法不能超过700注、四星玩法不能超过7000注、五星玩法不能超过70000注、全包玩法不计入有效投注。如发现违规投注情况，均视作放弃本次活动。</p></li>
                    <li><span>2、</span><p>若发现同一用户利用多个账号（相同/相似IP地址，相同银行卡，相同银行账户，相同电脑等）重复领取、对打套利、恶意刷返点套利等任何违规投注和对打情况，正点游戏将拒绝赠送活动奖金、没收优惠及其所有相关盈利，并冻结账号。</p></li>
                    <li><span>3、</span><p>本活动最终解释权和裁决权归正点游戏所有，正点游戏保留修改、暂停、终止该优惠活动等所有权利。</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="theme-popover-mask">
</div>

<div class="theme-popover-f">
    <div class="sy">
        <form action="" method="post">
            <ul class="syl">
                <li>
                    <p>
                <span class="iconsy">
                </span>
                        声音开关
                    </p>
                    <span class="iconsyx">
              </span>
                    <p>
                    </p>
                </li>
                <li>
                    开奖提示音
                    <span class="con">
                <input type="checkbox" id="checkbox1" class="chk_3">
                <label for="checkbox1">
                </label>
              </span>
                </li>
                <li class="tisy">
                    中奖提示音
                    <span class="con">
                <input type="checkbox" id="checkbox2" class="chk_3" checked="">
                <label for="checkbox2">
                </label>
              </span>
                </li>
                <li>
                    消息提示音
                    <span class="con">
                <input type="checkbox" id="checkbox3" class="chk_3" checked="">
                <label for="checkbox3">
                </label>
              </span>
                </li>
            </ul>
        </form>
    </div>
</div>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/layui/layui.all.js"></script>
<script src="../../js/activity.js"></script>
<script>


        $('.activity_kqul a').click(function () {
            layer.open({
                title: '信息'
                ,icon: 2
                ,content: '活动已结束'
                ,success: function(layero, index){
                    var ParBody = parent.document.getElementsByTagName('body')[0];
                    ParBody.appendChild(layero[0]);

                    var _lay = layero[0];
                    var _width = -(_lay.offsetWidth) / 2;
                    var _height = -(_lay.offsetHeight) / 2;

                    _lay.style.marginTop = _height + "px";
                    _lay.style.marginLeft = _width + "px";
                    _lay.style.left = "50%";
                    _lay.style.top = "50%";

                    var shade = document.getElementsByClassName('layui-layer-shade')[0];
                    ParBody.appendChild(shade);
                }

            })
        })





</script>
<script src="../../js/public.js"></script>
</body>
</html>

