<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="正点游戏游戏拥有菲律宾政府颁发的PAGCOR（Philippine Amusesment and Gaming Corporation）博彩牌照，并且通过了GLI（Gaming Laboratories International）国际权威认证。
	                正点游戏的主集团拥有10年行业背景，旗下拥有独立运营的支付、云计算、客服与电话销售等行业基础服务公司。集团与瑞士联邦计量局认证的IDQ（ID Quantique）合作研发出行业首家基于光量子物理的游戏开奖模式，实现公正的游戏模式。与行业多家知
	                名品牌于金融、技术、投资等多领域保持长期战略合作。正点是富有社会责任感的企业，常年与大陆、菲律宾当地政府保持友好合作。帮助各地区提升在环境、教育、儿童保护等领域的工作成效， 秉承“行有道、誉天下”之理念。">
	    <meta name="keywords" content="正点游戏|正点分分彩|重庆时时彩|新疆时时彩|正点娱乐"/>
		<meta charset="UTF-8">
		<title>IOS系统手机下载</title>
       <link rel="stylesheet" type="text/css" href="../../css/bgimg.css"/>
       <link rel="stylesheet" type="text/css" href="../../css/indep.css"/>
        <!--[if lt IE 9]>
			<link rel="stylesheet" type="text/css" href="../../css/download-ie7.css"/>
		<![endif]-->
	</head>


	<body id="download">
		<div class="top">
			<div class="top_in">
				<div class="logo"><img src="../../images/indep_img/LOGO.png" alt=""></div>
				<div class="kefu">在线客服</div>
			</div>
			
		</div>
		<div class="menu">
			<div class="menu_in">
			<ul>
				<li>
					<a href="scan-login.html">
						<dl>
							<dd></dd>
							<dt class="name">扫码登录手机</dt>
							<dt class="remarks">任意手机型号</dt>
						</dl>
					</a>
				</li>
				<li class="android">
					<a href="android-download.html">
						<dl>
							<dd></dd>
							<dt class="name">安卓系统手机下载</dt>
							<dt class="remarks">版本号1.0</dt>
						</dl>
					</a>
				</li>
				<li class="ios cur">
					<a href="ios-download.html">
						<dl>
							<dd></dd>
							<dt class="name">IOS系统手机下载</dt>
							<dt class="remarks">版本号1.0</dt>
						</dl>
					</a>
				</li>
				<li class="quick">
					<a href="quick-logon-download.html">
						<dl>
							<dd></dd>
							<dt class="name">快速登录器下载</dt>
							<dt class="remarks">版本号1.0</dt>
						</dl>
					</a>
				</li>
				<li class="scan">
					<a href="zhengdian-client.html">
						<dl>
							<dd></dd>
							<dt class="name">正点游戏客户端</dt>
							<dt class="remarks">版本号1.0</dt>
						</dl>
					</a>
				</li>
			</ul>

			</div>
		</div>

		<div class="main_scrol">
			<div class="main scan_main">
				<div class="tip">已经安装苹果系统iOS9版本的手机，在扫描右侧二维码下载APP应用包在本地安装成功后，点击启动应用会出现信任证书提示，其他iOS系统只要开启应用后点击信任即可。</div>
				<div class="con ios_con"  id="con">
					<div class="con_left">
	                    <img src="../../images/indep_img/ios_word.png" width="525" height="auto" alt="">
	                    <p class="scan_code"><img src="../../images/indep_img/ios.png" width="147" height="auto" alt=""></p>
	                </div>
	                <div class="con_right"><img src="../../images/indep_img/ios_img.png" width="317" height="auto" alt=""></div>
				</div>
			</div>
		</div>
		<div class="footer">
			<p>Copyright © 2015 zhendianGame. All Rights Reserved 正点游戏版权所有</p>
		</div>
		<script src="../../js/jquery-1.7.2.min.js"></script>
		
	<script type="text/javascript">
        $(function () {
            var _s_height = $(window).height() - 200;
            $(".main_scrol").height(_s_height);
        })
        $(window).resize(function () {
            var _s_height = $(window).height() - 200;
            $(".main_scrol").height(_s_height);
        });
    </script>

	</body>
</html>